<div style="display: flex; flex-direction: column;">
    <app-header></app-header>
    
    <div style="margin-top: 78px;"></div>
    
    <router-outlet></router-outlet>
    <div routerLink="/menu" routerLinkActive #rla="routerLinkActive" style="display: none;"></div>
</div>

@if (rla.isActive) {
    <div class="card-container">
        <section class="cards">
          @for (item of products; track $index) {
            <app-card [cardData]="item" class="card"></app-card>
          }
        </section>
    </div>
}